#sportsLeft {
    background-image: 
        url('../../assets/backgroundIcons/sport.svg'),
        linear-gradient(to right, var(--header-background-color) 0%, var(--page-background-color) 100%);
}

#sportsRight {
    background-image: 
        url('../../assets/backgroundIcons/sport.svg'),
        linear-gradient(to left, var(--header-background-color) 0%, var(--page-background-color) 100%);
}