#homeContainer {
    width: 100%;
    background: linear-gradient(to bottom, var(--accent-color) 0%, var(--page-background-color) 50%);
    box-sizing: border-box;
    color: var(--text-color);
}


#wideProfile {
    width: 40%;
    border: 7px solid var(--header-background-color);
    border-radius: 20px;
}
.accent {
    color: var(--accent-text-color);
}

p {
    width: 60%;
    margin: 0 auto;
}