#homeContainer {
    width: 100%;
    background-color: #303070;
    box-sizing: border-box;
    overflow-x: hidden;
}


#wideProfile {
    width: 40%;
    border: 7px solid #181830;
    border-radius: 20px;
}

p {
    width: 60%;
    margin: 0 auto;
}