#homeContainer {
    width: 100%;
    background-color: var(--page-background-color);
    box-sizing: border-box;
    overflow-x: hidden;
    color: var(--text-color);
}


#wideProfile {
    width: 40%;
    border: 7px solid var(--header-background-color);
    border-radius: 20px;
}

p {
    width: 60%;
    margin: 0 auto;
}