#contactLeft {
    background-image: 
        url('../../assets/backgroundIcons/contact.svg'),
        linear-gradient(to right, var(--header-background-color) 0%, var(--page-background-color) 100%);
}

#contactRight {
    background-image: 
        url('../../assets/backgroundIcons/contact.svg'),
        linear-gradient(to left, var(--header-background-color) 0%, var(--page-background-color) 100%);
        background-position: right top;
}