@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Regular.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato-Bold.ttf') format('truetype');
    font-weight: 700;
}

#background {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: var(--header-background-color);
}

#homeButton {
    font-weight: 700;
    background-color: var(--accent-color);
}

#homeButton::after {
    background-color: var(--dark-accent-color);
}

.headerLink {
    all: unset;
    cursor: pointer;
    
    position: relative;
    width: calc(100% / sibling-count());
    height: 94%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--background-color);
    font-family: 'Lato';
    color: var(--text-color);
    letter-spacing: 1.3px;

    overflow: hidden;
}

.headerLink::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--page-background-color);
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 0.3s ease;
    z-index: 0;
}

.headerLink:hover:after {
    transform: scaleY(1);
}
.headerLink.active {
    background-color: var(--page-background-color);
}

.headerLink img {
    height: 25px;
    margin-right: 5%;
}

.headerLink * {
    position: relative;
    z-index: 1;
}

#languages {
    width: calc(100% / sibling-count() - 6%);
    height: 100%;

    display: flex;
    justify-content: space-around;
}

#languages button {
    all: unset;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

#languages button img {
    width: 45px;
    opacity: 67%;
}

#languages button.active img {
    outline: 2px solid var(--text-color);
    border-radius: 5px;
    opacity: 100%;
}