@font-face {
    font-family: 'Lato';
    src: url('../assets/fonts/Lato-Regular.ttf') format('truetype');
    
}

#background {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    background-color: #181830;
}

.headerLink {
    all: unset;
    cursor: pointer;
    
    background-color: #242455;
    width: calc(100% / sibling-count());
    height: 94%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Lato';
    color: #D0D0F0;
    letter-spacing: 1.3px;
}

.headerLink.active {
    background-color: #303070;
}

.headerLink img {
    height: 50%;
    margin-right: 5%;
}

#languages {
    width: calc(100% / sibling-count() - 6%);
    height: 100%;

    display: flex;
    justify-content: space-around;
}

#languages button {
    all: unset;
    cursor: pointer;

    display: inline-flex;
    align-items: center;
    justify-content: space-around;
}

#languages button img {
    width: 60%;
    opacity: 75%;
}

#languages button.active img {
    border: 2px solid #D0D0F0;
    border-radius: 7px;
    opacity: 100%;
}