
#studiesLeft {
    background-image: 
        url('../../assets/backgroundIcons/studyL.svg'),
        linear-gradient(to right, var(--header-background-color) 0%, var(--page-background-color) 100%);
}

#studiesRight {
    background-image: 
        url('../../assets/backgroundIcons/studyR.svg'),
        linear-gradient(to left, var(--header-background-color) 0%, var(--page-background-color) 100%);
}

