*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-background-color: #181830;
  --page-background-color: #303070;
  --second-background-color: #242455;
  --text-color: #D0D0F0;
  --accent-color: #703050;
  --dark-accent-color: #501030;
  --accent-text-color: #F0B0D0;

  background-color: var(--page-background-color);
  color: var(--text-color);

}

body {
  margin: 0;
  display: flex;
  place-items: center;
}