:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --header-background: #181830;
  --page-background: #303070;
  --second-background: #242455;
  --text-color: #D0D0F0;

  background-color: var(--page-background);
  color: var(--text-color);

}


body {
  margin: 0;
  display: flex;
  place-items: center;
}